#!/usr/bin/env bash

set -e

INTERVAL=${1:-alpha}

BACKUP_SERVERS="{{ backup_server_list }}"
BACKED_UP_PATHS="{{ backed_up_paths }}"
EXCLUDED_PATHS="{{ exluded_paths }}"

backup_on_server () {
  rsync -avzh --delete --delete-excluded --exclude-from <(printf '%s\n' $EXCLUDED_PATHS) \
    $BACKED_UP_PATHS -e ssh $1:"{{ backup_staging_dir }}"
  scp "{{ rsnapshot_config_location }}" $1:"{{ backup_dir }}/rsnapshot.conf"
  ssh $1 "rsnapshot -c '{{ backup_dir }}/rsnapshot.conf' $INTERVAL"
}

for BACKUP_SERVER in $BACKUP_SERVERS; do
  backup_on_server "$BACKUP_SERVER"
done
